@import url('https://fonts.googleapis.com/css?family=Judson');


:root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0;
  line-height: 1.25;
}


p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

/*Home Page*/

.homebox{
  background-color: #f47362;
}

.mainheader-border{
  border:6px solid #F7CAC9;
  margin:4px;
}

.mainheader {
  width:100vw;
  height:100%;
  display: flex;
  border:4px solid #ffb0c1;
  align-items:center;
  background-color: #674b7c;
}

.mainheader img{
  height:121px;
  width:523px;
}


.navbarUl1 {
  margin-left: 150px;
  display: inline;
}

.navbarUl2 {
  margin-left:400px;
  display: inline;
}

.navbarli {
  margin-right: 30px;
  display: inline;
  font-family: 'Judson';
  color: white;
  font-size: 24px;
}

.navbarli a{color:white;}

/*Category Nav Bar*/
.categorynav{
  border:4px solid #674b7c;
  margin: 6px;
  background-color:#ffb0c1;
}
.categorynav h2 {
  font-family: 'Judson', serif;
  font-weight: bold;
  font-size:26px;
}

.categorynav button {
  font-size:18px;
  Font-family: 'Judson', serif;
  color:white;
  background-color:#f47362;
}

.container {
  background-color: #F7CAC9;
  border: 6px solid #674b7c;
  font-family: 'Judson', serif;
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container button {
  background-color:#f47362;
  font-family: 'Judson', serif;
  font-size:18px;
  color:white;
}

/*Product List and Product Item */

.product-list-border{
  margin-top:10px;
  margin-bottom:10px;
  border:4px solid white;
}

.product-list{
  border:8px solid#ffb0c1;
  margin-left:0px;
  margin-right:0px;
  padding-left:0px;
  padding-right:0px;
  width:100%;
  background-color:#F7CAC9;
}


.product-list h2 {
  font-family: 'Judson', serif;
  font-weight: bold;
}

.product-list h3 {
  font-family: 'Judson', serif;
}

.product-list p{
  font-family: 'Judson', serif;
  font-size:22px;
  margin: 0;
  padding:0;
}

.product-list img{
  padding:0px;
  border:4px solid #674b7c;
 }

.product-header{
  font-size:20px;
  font-family:'Judson';
  border:4px solid #674b7c;
  background-color:#ffb0c1;
  margin-left:6px;
  margin-right:6px;
  }
  
.product-header h2{
    font-size:26px;
  }
  
.product-header h3{
    font-family:'Judson';
    font-size:22px;
    font-weight:normal;
  }

.product-div {
    display: flex;
    flex-wrap: wrap;
    background-color: #F7CAC9;
    margin: 2px solid;
  }


/* Order History */

.order-list {
  font-family: 'Judson', serif;
  font-weight: bold;
}

  
/* Card */
.product-item-card {
  width: 25%;
  text-align: center;
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.product-item-card p {
font-size:26px;
color:#674b7c;
}

.product-item-card span{font-weight:bold;}

.card-button {
  font-family:'Judson', serif;
  font-size:20px;
  color:white;
  background-color:#f47362;
  border: solid 2px black;
  outline: 0;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.card-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f47362;
  z-index: -1;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.card-button::after {
  width: 90%;
  height: 90%;
}

.card-button:hover::after {
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
}

/*Detail.js*/

.detail-container{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    background-color: #f47362;
    border:2px solid white;
    font-family: 'Judson', serif;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .detail-back{
    margin:2px;
    font-size:30px;
    color:#674b7c
  }

  .detail-back a{color:#674b7c;}
 
 
 .detail-card{
   width:200px;
   background-color:white;
   border:4px solid #f47362;
   margin:0 auto;
 }

 .detail-card-pt2{
  background-color:white;
  border:4px solid #f47362;
  margin:0 auto;
  text-align: center;
}

 .detail-box{
   background-color: #674b7c;
   border:4px solid white;

 }
 
 .detail-card p{
   text-align:center;
   font-family:'Judson';
   font-size:26px;
   margin:0;
   font-size: 1.1rem;
 }

.detail-card-content{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left:10px;
  margin-right:10px;
  padding-left:0px;
}
 
 .detail-card-image img{
  height:400px;
  width:400px;
  border:4px solid #f47362;
}

.detail-card-info{
  width:600px;
  background-color:white;
  border:4px solid #f47362;
  margin:0 auto;
}

.detail-description-box{
  margin-right:10px;
  margin-left:10px;
  display:flex;
  flex-direction: column;
}


.detail-buttons-box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-button {
  font-family:'Judson', serif;
  font-size:20px;
  color:white;
  background-color:#f47362;
  border: solid 2px black;
  outline: 0;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  width:200px;
}

.detail-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f47362;
  z-index: -1;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.detail-button::after {
  width: 90%;
  height: 90%;
}

.detail-button:hover::after {
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
}

 

 
/*Comment Form and Comment List*/
.comment-storage{
  border-radius: 50px;
  background-color: #674b7c;
  border:2px solid #674b7c;
  margin-bottom:0;
}

.no-comments{
  border-radius:50px;
  border:2px solid white;
}

.comment-p{
  margin-left:30px;
  color:white;
  font-family:'Judson';
  font-weight:normal;
  font-size:30px;
  border:#fafafa;

}
.comment-header{
  margin-top:0;
  background-color: white;
  font-family:'Judson';
  font-weight:normal;
  font-size:26px;
  text-align:center;
}
.comment-container{
  background-color: #674b7c;
  font-family:'Judson';
  font-weight:normal;
  font-size:18px;
}

.comment-box{
  background-color:#674b7c;
}

.comment-author{
  margin-left:4px;
  background-color:#f47362;
  border-radius:50px;
  width:300px;
}

.comment-content{
  margin-top:2px;
  margin-left:4px;
  background-color:white;
  width:50%;
  margin:0 auto;
  border-radius:50px;
}

.comment-author #bold{
  font-weight:bold;
}



 



/*Login and Signup page*/

#login-back{
  font-size:30px;
  color:#674b7c;
  margin:2px;
}

#login-back a{
  color:#674b7c;
}

.login-container {
  background-color: #f47362;
  border:5px solid white;
  font-family: 'Judson', serif;
  width: 85%;
  height:100vh;
  margin-left: auto;
  margin-right: auto;
}

.login-container h2{
  font-size:50px;
  font-weight:bold;
  text-align: center;
  margin: 0 auto;
  font-family:'Judson'
}

.login-box{
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}



.login-form{
  margin:0 auto;
  --background: white;
  --border: rgba(0, 0, 0, 0.125);
  --borderDark: rgba(0, 0, 0, 0.25);
  --borderDarker: rgba(0, 0, 0, 0.5);
  --bgColorH: 0;
  --bgColorS: 0%;
  --bgColorL: 98%;
  --fgColorH: 210;
  --fgColorS: 50%;
  --fgColorL: 38%;
  --shadeDark: 0.3;
  --shadeLight: 0.7;
  --shadeNormal: 0.5;
  --borderRadius: 0.125rem;
  --highlight: #306090;
  background: white;
  border: 4px solid #674b7c;
  border-radius: var(--borderRadius);
  box-shadow: 0 1rem 1rem -0.75rem var(--border);
}

.login-form label{
  margin-left:40px;
  font-size:26px;
  font-family: 'Judson';
}
.error-text {
  color: var(--error);
}

.login-button {
  margin-left:150px;
  font-family:'Judson', serif;
  font-size:26px;
  color:white;
  background-color:#f47362;
  border: solid 2px black;
  outline: 0;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.login-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f47362;
  z-index: -1;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.login-button::after {
  width: 90%;
  height: 90%;
}

.login-button:hover::after {
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
}


/* Person */
figure {
  --skinH: 30;
  --skinS: 100%;
  --skinL: 87%;
  --hair: rgb(180,70,60);
  background: hsl(var(--fgColorH), calc(var(--fgColorS) * 2), 95%);
  border: 2 px solid var(--fgColorH);
  border-radius: 50%;
  height: 0;
  margin: auto auto;
  margin-bottom: 2rem;
  order: 1;
  padding-top: 60%;
  position: relative;
  width: 60%;
  overflow: hidden;
}

figure div {
  position: absolute;
  transform: translate(-50%, -50%);
}

figure .skin {
  background: hsl(var(--skinH), var(--skinS), var(--skinL));
  box-shadow: inset 0 0 3rem hsl(var(--skinH), var(--skinS), calc(var(--skinL) * 0.95));
}

figure .head {
  top: 40%;
  left: 50%;
  width: 60%;
  height: 60%;
  border-radius: 100%;
  box-shadow: 0 -0.175rem 0 0.125rem var(--hair);
}

figure  .ears {
  top: 47%;
  left: 50%;
  white-space: nowrap;
}

figure .ears::before,
figure .ears::after {
  content: "";
  background: hsl(var(--skinH), var(--skinS), var(--skinL));
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin: 0 2.1rem;
}

figure .head .eyes {
  top: 55%;
  left: 50%;
  white-space: nowrap;
}

@-webkit-keyframes blink {
  0%, 90%, 100% {
    height: 10px;
  }
  95% {
    height: 0;
  }
}

@keyframes blink {
  0%, 90%, 100% {
    height: 10px;
  }
  95% {
    height: 0px;
  }
}

figure .head .eyes::before,
figure .head .eyes::after {
  content: "";
  background: var(--borderDarker);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 0.5rem;
  -webkit-animation: blink 5s infinite;
  animation: blink 5s infinite;
  transition: all 0.15s;
}

input[name="show-password"]:checked ~ figure .head .eyes::before,
input[name="show-password"]:checked ~ figure .head .eyes::after {
  height: 0.125rem;
  animation: none;
}

figure .head .mouth {
  border: 0.125rem solid transparent;
  border-bottom: 0.125rem solid var(--borderDarker);
  width: 25%;
  border-radius: 50%;
  transition: all 0.5s
}

form:invalid figure .head .mouth {
  top: 75%;
  left: 50%;
  height: 10%;
}

form:valid figure .head .mouth {
  top: 60%;
  left: 50%;
  width: 40%;
  height: 40%;
}

figure .hair {
  top: 40%;
  left: 50%;
  width: 66.66%;
  height: 66.66%;
  border-radius: 100%;
  overflow: hidden;
}

figure .hair::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--hair);
  border-radius: 50%;
  top: -60%;
  left: -50%;
  box-shadow: 4rem 0 var(--hair);
}

figure .neck {
  width: 10%;
  height: 40%;
  top: 62%;
  left: 50%;
  background: hsl(var(--skinH), var(--skinS), calc(var(--skinL) * 0.94));
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 0.25rem var(--border);
}

figure .person-body {
  width: 60%;
  height: 100%;
  border-radius: 50%;
  background: red;
  left: 50%;
  top: 126%;
  background: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
}

figure .shirt-1,
figure .shirt-2 {
  width: 12%;
  height: 7%;
  background: hsl(var(--bgColorH), var(--bgColorS), var(--bgColorL));
  top: 76%;
  left: 36.5%;
  transform: skew(-10deg) rotate(15deg)
}

figure .shirt-2 {
  left: 52.5%;
  transform: skew(10deg) rotate(-15deg)
}

/*Upload Page*/

.upload-back{
  font-size:30px;
  color:#674b7c;
  margin:2px;}
 

.upload-container {
  background-color: #f47362;
  border:5px solid white;
  font-family: 'Judson', serif;
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.upload-container h2{
  font-size:50px;
  font-weight:bold;
  margin: 0 auto;
  text-align:center;
  font-family:'Judson'
}

.upload-form{
  margin:0 auto;
  --background: white;
  --border: rgba(0, 0, 0, 0.125);
  --borderDark: rgba(0, 0, 0, 0.25);
  --borderDarker: rgba(0, 0, 0, 0.5);
  --bgColorH: 0;
  --bgColorS: 0%;
  --bgColorL: 98%;
  --fgColorH: 210;
  --fgColorS: 50%;
  --fgColorL: 38%;
  --shadeDark: 0.3;
  --shadeLight: 0.7;
  --shadeNormal: 0.5;
  --borderRadius: 0.125rem;
  --highlight: #306090;
  background: white;
  border: 4px solid #674b7c;
  border-radius: var(--borderRadius);
  box-shadow: 0 1rem 1rem -0.75rem var(--border);
}

.upload-form input{
  border-radius:50px;
}

.upload-form #description{
  height:150px;
  width:400px;
  margin-left:40px;
  border-radius: 50px;
}

.upload-form label{
  margin-left:40px;
  font-size:26px;
  font-family: 'Judson';
}

.upload-button {
  font-family:'Judson', serif;
  font-size:20px;
  color:white;
  background-color:#f47362;
  border: solid 2px black;
  outline: 0;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.upload-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f47362;
  z-index: -1;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.upload-button::after {
  width: 90%;
  height: 90%;
}

.upload-button:hover::after {
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
}

/*Comment Form*/

.comment-h3{
font-family:'Judson';
font-size:16px;
font-weight:bold;
}


@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}